[Unit]
Description=System Report Service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/system_report.sh
StandardOutput=append:/var/log/system_report.log
StandardError=append:/var/log/system_report.log

[Install]
WantedBy=multi-user.target
